* {
    box-sizing: border-box;
    }

body {
    background-color: #E5E5E5;
    margin-top: 110px;
    margin-bottom: 110px;
}

header {
    width:100%;
    height: 92px;
    background-color: #CF2B2B;   
    color: #FFFFFF;    
    padding: 3%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));  

    position: fixed;
    top: 0;
    z-index:2;
}

header h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h6 {
    margin-top:20px;
    margin-left: 16px;
    color: #333333;
    font-size: 26px;
    font-family: 'Righteous', cursive;
}

.seçao {
    margin-top:20px;
    display:flex;
    width:95vw;
    height: 220px;
    box-sizing: border-box;

    overflow-x: scroll;    
}

.opçao {
    width: 180px;
    height: 212px;
    margin-left: 16px;
    background-color: #FFFFFF;
    border-radius: 9px;
    padding: 3%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .1));  
    position: relative;
}

.opçao ion-icon {
    position: absolute;
    left: 80%;
    top:90%;
    color:#FFFFFF;
}

.check ion-icon {
    color:#32B72F;
}

.selecionado {     /*Add class depois que item for selecionado*/
    width: 180px;
    height: 212px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}

.opçao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 5%;
}

.nome{
    margin-bottom:5px;
    font-family: 'Roboto';
    font-weight:700;
    margin: 5% 0;
}

.descriçao {
    margin-bottom:10px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #A6A6A6;
    float: inherit;
    margin: 5% 0;
}

.preço {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}    

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 91px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0vh;
    z-index: 2;
}


button {
    width: 100%;
    height: 61px;
    border-radius: 50px;
    border: 0px;

    display: flex;
    align-items: center;
    
    margin: 7%;
    font-size: 20px;
    font-weight: 400;
    color:#FFFFFF;
    font-family:'Roboto';
    text-align:center;
}

button p {
    margin:15%;
}

.selecionar{
    background-color: #CBCBCB;
}

.finalizar{
    background-color: #32B72F;
    padding: 5% 23.5%;
    font-weight: 700;
}

.confirmacao{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFFE5;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.janela{
    background-color: #50D074;
    border-radius: 9px;
    color: #FFFFFF;
    padding: 21px 24px;
    width: 377px;
    max-width: 98vw;
    height: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.janela .titulo{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 28px;
}

.escolha{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 26px;
}

.total{
    font-weight: 700;
    width: 100%;
}

.preco-total{
    width: 121px;
}

.pedir{
    background-color: #FFFFFF;
    color: #50D074;
    height: 52px;
    width: 329px;
    max-width: 100%;
    font-weight: 700;
    font-size: 22px;
    border-radius: 100px;
    padding: 10%;
}

.cancelar{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto';
}

.escondido{
    display: none;
}